<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<h1>PIC a website post and comment using image</h1>
<h3>We are very glad to inform you <strong>{{username}}</strong> that you have successfully
    registered an account in Our website,
    please click the below link to activate your account</h3>
<br>
<a
        href="{{url}}/users/verify_email/{{username}}/{{token}}">{{url}}/users/verify_email/{{username}}/{{token}}</a>
</body>

</html>
